body {
  margin: 0px;
  min-width:860px;
}

@font-face {
  font-family: khand;
  src: url(khand.woff);
}

.clear {clear:both}
.left {float:left}
.right {float:right}

/* HEADER */

header {
  background:#050;
}
header > h1 img {
  margin-left: 10px;
}
header > h1 {
  padding:10px 0px 0px 20px;
  margin:0;
  font-size:4em;
  font-family:khand,cursive;
  letter-spacing:5px;
}
header > h1 a {
  color:#8e8;
  text-decoration:none;
}
header > h2 {
  margin-left:5%;
  margin-top:-10px;
  color:#7d0;
  font-family:sans-serif;
  font-size:.9em;
  font-weight:normal;
  letter-spacing:1px;
  padding-bottom:0px;
  display:block;
}
header > .sharing {
  width:700px;
  padding-bottom:10px;
}


/* MAIN MENU */

#menu {
  width: 100%;
  height: 40px;
  clear: both;
}

ul#nav li > a {
  text-decoration: none;
}

ul#nav {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  #background: #0d0;
  border-top:10px solid maroon;
  box-shadow: 0px -1px 0px grey,0px 2px 15px black;
  background: maroon;
}

ul#nav li {
  display: inline;
}

ul#nav > li > a {
  float: left;
  font: bold 1em sans-serif;
  text-shadow: 1px 1px 10px #000;
  line-height: 40px;
  height: 40px;
  color: #fed;
  letter-spacing:1px;
  padding: 0 16px;
  background: maroon;
}

ul#nav > li:first-child > a {
  margin-left:10px;
}

ul#nav .selected a,
ul#nav > li:hover > a  {
  background: #a00;       /* APPLIES THE ACTIVE STATE */
  border-radius:20px 20px 0 0;
}
ul#nav > li:last-child:hover > a {
  border-radius:20px;
}


/* SUB MENU */

.submenu-hide,
ul#nav .submenu {
  display: none;  /* THE SUBMENU LIST HIDDEN BY DEFAULT */
  position:absolute;
  left:0px;
  width: 100%;
  min-width: 790px;
  margin: 40px 0 0 0;
  padding:0 0 5px 0;
  border-radius:0 0 5px 5px;
  background: #a00;
  border-bottom:1px solid maroon;
}
ul#nav .submenu ul {
  #position:absolute;
  #left:0px;
  #width: 100%;
  #background: #a00;
  padding:0;
}

.shortdesc {
  display:block;
  margin-left:40px;
  padding: 8px 0px 4px 0px;
  letter-spacing:1px;
  color:#fc4;
  font: bold 0.9em sans-serif;
}


/* SUB MENU ITEM */

ul#nav .submenu > ul > li > a > span {
  top:100px;  ???????????????????????????????????????????
  #position:relative;
}
ul#nav .submenu > li > a,
ul#nav ul > li > a {
  height:100px;
  position:relative;
  width: 160px;
  float: left;
  color: #fff;
  font: bold 0.8em sans-serif;
  text-shadow: 1px 1px 5px #111;
  background-size:100% 100%;
  background-origin:border-box
  background-repeat: no-repeat;
  border:1px solid #444;
  padding: 0px;
  margin: 4px;
}
ul#nav .submenu > ul > li > a span,
ul#nav ul > li > a span {
  display:inline-block;
  padding:3px 6px;
  background: #000;
}


/* WHEN THE FIRST LEVEL MENU ITEM IS HOVERED, THE CHILD MENU APPEARS */
ul#nav > li:hover .submenu {
  display: block;
}

ul#nav > li:hover .submenu > ul > li > a:hover,
ul#nav > li:hover > ul > li > a:hover {
  box-shadow: 0px 0px 5px #fff;
  border:1px solid #d99;
  ###text-shadow: 1px 1px 5px #000;
}


/* GAME SECTION */

section.game {
  display:block;
  width: 800px;
  padding:20px;
  margin:40px auto;
  line-height:1.3em;
  background:#eee;
  border:1px solid grey;
  border-radius:20px;
}
section.game h3 {
  margin-top:0px;
}

.comments {
  margin-top: 10px;
  width:400px;
  text-align:center;
}
.comments div:first-child {margin-bottom:10px}

.sharing {text-align:center;width:800px;}
.sharing > * {float:inline-block !important;}