<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Educative-Games.org — Learn through play</title>
<meta name="description" content="Free-for-all educative games you wish your kids to play in order to learn more about various fields of science."/>
<!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.min.css"/>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
<meta property="fb:app_id" content="151440601730621"/>
</head>
<body>
<div id="fb-root"></div>
<header>
  <h1><b><a href="/">Educative-Games.org</a></b></h1>
  <div style="width:800px">
    <h2 class="center">Free-for-all <b><em>educative games</em> you wish <em>the kids</em> to play</b><br/> in order to teach themselves science <br/>and <b><em>learn</em> more about</b> ...</h2>
    <div class="sharing left">
      <div class="fb-like"   data-width="120" data-href="http://educative-games.org/" data-layout="button_count" data-show-faces="false" data-send="false" data-ref="site-title"></div>
      <div class="g-plusone" data-width="120" data-href="http://educative-games.org/" data-size="medium"></div>
    </div>
  </div>
  <div class="clear"></div>
</header>

<div id="menu">
<ul id="nav">
{% for category in page.categories %}
<li><a href="#{{ category.name | downcase }}">{{ category.name | capitalize }}</a>
    <div class="submenu">
      <span class="shortdesc">{{ category.desc }}</span>
      <ul>
{% for game in category.games %}{% capture slug %}{{ game.name | downcase | remove: "'" | remove: ':' | replace: ' ', '-' }}{% endcapture %}
<li><a href="{% if game.href %}{{ game.href }}{% else %}#{{ category.name | downcase }}/{{ slug }}{% endif %}" style="background:url('images/{{ slug }}.png')"><span>{{ game.name }}</span></a></li>{% endfor %}
      </ul>
    </div>
</li>
{% endfor %}
<li style="float:right"><a href="#about">About</a>
</li>
</ul>
</div>

<section class="game about">
  <h3 id="about">About this site</h3>
  <p>Gathering up useful resources for <a href="http://www.coderdojo.si">Slovenian</a> <a href="http://en.wikipedia.org/wiki/CoderDojo">CoderDojo</a> course,
  one of us stumbled upon <a href="#programming/light-bot-2">light-Bot 2</a> and <a href="http://www.robozzle.com">RoboZZle</a> at
  <b>HappyNerds' wonderful collection of <a href="http://happynerds.net/view/browser">programming resources for kids</a></b>.</p>
  <p>One game led to the other, and — after a few days of ecstatic playing — I figured I would make the job easier for
  others pursuing the same task – searching for <b>games with real educational value</b>
  that help one <b>develop not only the interactive problem-solving skills</b>,
  but also create very real <b>hands-on experience</b> or certain depth of <b>understanding
  of a particular real-world field</b>. And for watchful parents and their likes.
  Gathered here are, incidently, some of the <b>best puzzle games ever created</b>.</p>
  <p>Find the games in the <a href="#menu">menu above</a>. Most games require <span class="red">Adobe Flash</span>, others are
  links to their respective websites. <noscript class="bold red">The <u>page requires JavaScript</u> enabled.</noscript></p>
  
  <p>Seeking more educative material, search for
  <a href="http://www.google.com/search?q=educational+games">"educational games"</a>
  online, and compare <a href="#menu">our selection of games</a> with your findings or the more varied selection on major established sites like
  <a rel="nofollow" href="http://www.newgrounds.com/games/">Newgrounds</a> or
  <a rel="nofollow" href="http://www.kongregate.com/">Kongregate</a>. You might find
  the state of affairs quite sad, or at least that good, fun <b>games that actually teach something</b> are relatively hard to find.
  Here are some other sites we found that list games, more or less educative in various fields.
  The most satisfying of those should have been collected in the <a href="#menu">menu above</a>, but for more <b>interactive,
  story-type games, suitable for even younger children</b>, check out the following websites too.
  <h3 id="similar_sites">Similar sites</h3>
  <ul id="other_sites">{% for site in page.other_sites %}
  <li>{{ site.name | markdownify }} {{ site.desc | markdownify }}</li>{% endfor %}
  </ul>
  <p>If you <b>have a suggestion</b> for an educative game or even a whole new category, <b>write a comment</b> below, or better yet, if you wish,
  just add the new game(s) yourself via a "pull request" on <a href="http://github.com/kernc/educative-games.org">GitHub</a>. <kbd>:)</kbd></p>
  <p><b>BTYB —</b> {% for c in page.contributors %}<a href="{{ c.href }}">{{ c.name }}</a>{% unless forloop.last %},{% endunless %} {% endfor %}</p>
  <h3>TODO</h3><ul>
    <li>Add to games' descriptions where there are none or insufficient.</li>
    <li>Scrutinize sites marked with <b>**</b> in the above list of <a href="#similar_sites">similar sites</a>. Add better games here and yourself as contributor. :)</li>
  </ul>
  <!--div class="center"><script id='flattrbtn'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=kernc&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script></div-->
  <section class="game-info"></section>
</section>

{% for category in page.categories %}{% for game in category.games %}{% unless game.href %}{% capture slug %}{{ game.name | downcase | remove: "'" | remove: ':' | replace: ' ', '-' }}{% endcapture %}
<section class="game">
  <h3 id="{{ category.name | downcase }}/{{ slug }}">{{ game.name }}</h3>
  {{ game.desc | markdownify }}

  <section class="game-info" data-swf="{% if game.swfhref %}{{ game.swfhref }}{% else %}flash/{{ slug }}.swf{% endif %}"
                             data-height="{{ game.height }}"></section>
</section>
{% endunless %}{% endfor %}{% endfor %}

<footer>
  <a class="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="CC BY-NC-SA" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"/></a>
  <!--[if IE]><a href="http://affiliates.mozilla.org/link/banner/44894"><img src="images/firefox.png" alt="Upgrade to Firefox browser"/></a><![endif]-->
  <div style="font-size:0.7em;">Anyone imposing 'rights' upon one's work is deluded. There are no rights. Cf. the United States of America.</div>
</footer>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.min.js"></script>
<script src="https://apis.google.com/js/plusone.js"></script>
<script src="https://connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=151440601730621"></script>
<script src="script.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43663477-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>